Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-CORS==4.0.0
PyJWT==2.8.0
pycryptodome==3.19.0
bcrypt==4.1.2
openpyxl==3.1.2
msoffcrypto-tool==5.4.2
PyMySQL==1.1.0
APScheduler==3.10.4
cryptography==41.0.7
gunicorn==21.2.0
